.container {
	max-width: 40%;
	margin: auto;
	text-align: center;
	margin-top: 10rem;
	font-family: 'Roboto Mono', sans-serif;
	font-weight: 500;
}

.bookmarklet {
	font-family: serif;
	font-size: 140px;
	line-height: 1;
	display: inline-block;
	text-decoration: none;
	padding: 20px;
	background-color: #FFF;
	border-radius: 8px;
	-webkit-transition: background .15s ease;
	transition: background .15s ease;
	margin-bottom: 5rem;
}

.bookmarklet:hover {
	background-color: #f7f7f7;
}

.about a {
	color: #CCC;
	text-decoration: none;
}