<!DOCTYPE html>
<html>
<head>
	<title>Finish Line</title>
	<meta charset='UTF-8'>
	<link href='http://fonts.googleapis.com/css?family=Roboto+Mono' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<div class='container'>
		<a href="@@include('./_bookmarklet.js')" class='bookmarklet'>🏁</a>
		<h1>Finish Line</h1>

		<div class='about'>
			<p>A bookmarklet to show you where articles really end on a page.</p> 
			<p>Drag the flag to your bookmarks bar to install, click while reading aricles to reveal the true end of the article body.</p>
			<a href='http://github.com/kevinzweerink/finishline'>Github</a>
		</div>
	</div>
</body>
</html>